*{
   box-sizing: border-box;
   padding: 0;
   font-family:Arial, Helvetica, sans-serif; 
   
   }
   body {
       display: flex;
       width: 100%;
       height: 100%;
       justify-content:center;
       align-items:center;
       
   }
   .login{
    border: 1px solid black;
    margin:  0 auto;
    width: 400px;
    height: 600px;
    border-radius:1%;
    
    
}
  .img{
      display: flex;
      justify-content: center;
      margin-top: 50px;
  } 
  h1{
      display: flex;
      justify-content: center;
      font-size: 30px;
  }
  .container{
      display: flex;
      justify-content:center;
      margin-top: 40px;
      margin-bottom: 40px;
   }
  .buttom{
      display: flex;
      justify-content:center;
      
  }
  .link{
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 40px;
      cursor: pointer;
      
      
     
      
}
.link a{
    padding: 10px;
}
  .form input{
      width: 200px;
      height: 55px;
      margin-bottom: 0px;
      font-size: 20px;
             ;
             
}
  button{
      background-color:#0E185F;
      color:white;
      width:110px;
      height: 50px;
      cursor: pointer;
      } 
  button:hover{
      color:rgb(140, 207, 179)
  }
a {
    text-decoration: none;
    border: 1px solid black;

    border-radius:18px;
    -webkit-border-radius:18px;
    -moz-border-radius:18px;
    -ms-border-radius:18px;
    -o-border-radius:18px;
    font-size:15px;
    -webkit-border-radius: 18px;
    text-align: center;
}
.form input{
    padding: 10px;
}