*{
   box-sizing: border-box;
   padding: 0;
   font-family: 'Sansita Swashed', cursive;
   
   }
   body {
       display: flex;
       width: 100%;
       height: 100%;
       justify-content:center;
       align-items:center;
       
   }
   .login{
    border: 1px solid black;
    margin:  0 auto;
    width: 400px;
    height: 600px;
    border-radius:1%;
    
    
}
  .img{
      display: flex;
      justify-content: center;
      margin-top: 50px;
  } 
  h1{
      display: flex;
      justify-content: center;
      font-size: 30px;
  }
  .container{
      display: flex;
      justify-content:center;
      margin-top: 40px;
      margin-bottom: 40px;

  }
  .buttom{
      display: flex;
      justify-content:center;
      
  }
  .link{
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 40px;
  }
  .form input{
      width: 200px;
      height: 55px;
      margin-bottom: 0px;
      font-size: 20px;
      
  }
  button{
      background-color:#0E185F;
      color:white;
      width:110px;
      height: 50px;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
}
  
